package componentMappings

import componentForm "github.com/speedianet/os/src/presentation/ui/component/form"

templ MatchPatternSelectInput(id, label, bindValuePath string) {
	@componentForm.SelectInputWithDescription(
		id, label, bindValuePath,
		[]componentForm.SelectOption{
			{Label: "Begins With", Value: "begins-with"},
			{Label: "Contains", Value: "contains"},
			{Label: "Equals", Value: "equals"},
			{Label: "Ends With", Value: "ends-with"},
		}, false, false,
	)
}
