package componentMappings

import (
	"github.com/goinfinite/os/src/domain/entity"
	"github.com/goinfinite/os/src/domain/valueObject"
	tkValueObject "github.com/goinfinite/tk/src/domain/valueObject"
	uiControl "github.com/goinfinite/ui/src/control"
	"github.com/goinfinite/ui/src/display"
	uiToolset "github.com/goinfinite/ui/src/toolset"
)

templ VirtualHostMappingsList(
	mappingEntity entity.Mapping,
	rootDirectory tkValueObject.UnixAbsoluteFilePath,
) {
	<!-- VirtualHostMappingsList -->
	<div class="flex w-full items-center justify-between rounded-md bg-neutral-500/5 p-3">
		@templ.JSONScript("mappingEntity_"+mappingEntity.Id.String(), mappingEntity)
		<div class="flex items-center gap-3">
			<p>{ mappingEntity.Path.String() }</p>
			switch mappingEntity.TargetType.String() {
				case "service":
					@uiDisplay.Tag(uiDisplay.TagSettings{
						Size:                 uiDisplay.TagSizeXs,
						OuterBackgroundColor: "teal-950",
						OuterLeftLabel:       "service",
						OuterRadius:          uiToolset.BorderRadiusMd,
						InnerLabel:           mappingEntity.TargetValue.String(),
						InnerRadius:          uiToolset.BorderRadiusMd,
					})
				case "url":
					@uiDisplay.Tag(uiDisplay.TagSettings{
						Size:                 uiDisplay.TagSizeXs,
						OuterBackgroundColor: "violet-950",
						OuterLeftLabel:       "url",
						OuterRadius:          uiToolset.BorderRadiusMd,
						InnerLabel:           mappingEntity.TargetValue.String(),
						InnerRadius:          uiToolset.BorderRadiusMd,
					})
					if mappingEntity.TargetHttpResponseCode != nil &&
					mappingEntity.TargetHttpResponseCode.String() != "301" &&
					mappingEntity.TargetHttpResponseCode.String() != "302" {
						@uiDisplay.Tag(uiDisplay.TagSettings{
							Size:                 uiDisplay.TagSizeXs,
							OuterBackgroundColor: "cyan-950",
							OuterLeftLabel:       "responseCode",
							OuterRadius:          uiToolset.BorderRadiusMd,
							InnerLabel:           mappingEntity.TargetHttpResponseCode.String(),
							InnerRadius:          uiToolset.BorderRadiusMd,
						})
					}
				case "response-code":
					@uiDisplay.Tag(uiDisplay.TagSettings{
						Size:                 uiDisplay.TagSizeXs,
						OuterBackgroundColor: "cyan-950",
						OuterLeftLabel:       "responseCode",
						OuterRadius:          uiToolset.BorderRadiusMd,
						InnerLabel:           mappingEntity.TargetHttpResponseCode.String(),
						InnerRadius:          uiToolset.BorderRadiusMd,
					})
				case "inline-html":
					{{ inlineHtmlValue := mappingEntity.TargetValue.String() }}
					if len(mappingEntity.TargetValue.String()) > 50 {
						{{ inlineHtmlValue = mappingEntity.TargetValue.String()[:50] + "..." }}
					}
					@uiDisplay.Tag(uiDisplay.TagSettings{
						Size:                 uiDisplay.TagSizeXs,
						OuterBackgroundColor: "stone-700",
						OuterLeftLabel:       "inlineHtml",
						OuterRadius:          uiToolset.BorderRadiusMd,
						InnerLabel:           inlineHtmlValue,
						InnerRadius:          uiToolset.BorderRadiusMd,
					})
				case "static-files":
					@uiDisplay.Tag(uiDisplay.TagSettings{
						Size:                 uiDisplay.TagSizeXs,
						OuterBackgroundColor: "yellow-700",
						OuterLeftLabel:       "staticFiles",
						OuterRadius:          uiToolset.BorderRadiusMd,
						InnerLabel:           rootDirectory.String(),
						InnerRadius:          uiToolset.BorderRadiusMd,
					})
			}
			if mappingEntity.MatchPattern != valueObject.MappingMatchPatternBeginsWith {
				@uiDisplay.Tag(uiDisplay.TagSettings{
					Size:                 uiDisplay.TagSizeXs,
					OuterRingColor:       "neutral-400",
					OuterRingThickness:   uiToolset.RingThicknessXs,
					OuterBackgroundColor: "transparent",
					OuterTextColor:       "neutral-400",
					OuterLeftIcon:        "ph-map-pin",
					OuterRadius:          uiToolset.BorderRadiusMd,
					InnerLabel:           mappingEntity.MatchPattern.String(),
					InnerRadius:          uiToolset.BorderRadiusMd,
				})
			}
			if mappingEntity.MarketplaceInstalledItemName != nil {
				@uiDisplay.Tag(uiDisplay.TagSettings{
					Size:                 uiDisplay.TagSizeXs,
					OuterRingColor:       "amber-500",
					OuterRingThickness:   uiToolset.RingThicknessXs,
					OuterBackgroundColor: "transparent",
					OuterTextColor:       "amber-500",
					OuterLeftIcon:        "ph-storefront",
					OuterRadius:          uiToolset.BorderRadiusMd,
					InnerLabel:           mappingEntity.MarketplaceInstalledItemName.String() + " (#" + mappingEntity.MarketplaceInstalledItemId.String() + ")",
					InnerRadius:          uiToolset.BorderRadiusMd,
				})
			}
			if mappingEntity.ShouldUpgradeInsecureRequests != nil && *mappingEntity.ShouldUpgradeInsecureRequests {
				@uiDisplay.Tag(uiDisplay.TagSettings{
					Size:                 uiDisplay.TagSizeXs,
					OuterRingColor:       "lime-700",
					OuterRingThickness:   uiToolset.RingThicknessXs,
					OuterBackgroundColor: "transparent",
					OuterTextColor:       "lime-700",
					OuterLeftIcon:        "ph-lock",
					OuterRadius:          uiToolset.BorderRadiusMd,
					InnerLabel:           "httpsOnly",
					InnerRadius:          uiToolset.BorderRadiusMd,
				})
			}
			if mappingEntity.MappingSecurityRuleId != nil {
				@uiDisplay.Tag(uiDisplay.TagSettings{
					Size:                 uiDisplay.TagSizeXs,
					OuterRingColor:       "red-600",
					OuterRingThickness:   uiToolset.RingThicknessXs,
					OuterBackgroundColor: "transparent",
					OuterTextColor:       "red-600",
					OuterLeftIcon:        "ph-shield",
					OuterRadius:          uiToolset.BorderRadiusMd,
					InnerLabel:           "#" + mappingEntity.MappingSecurityRuleId.String(),
					InnerRadius:          uiToolset.BorderRadiusMd,
				})
			}
		</div>
		<div class="flex gap-2">
			@uiControl.Button(uiControl.ButtonSettings{
				IconLeft:               "ph-pencil",
				Shape:                  uiToolset.ShapeCircular,
				Size:                   uiControl.ButtonSizeSm,
				BackgroundColor:        "neutral-50/10",
				BackgroundColorHover:   "neutral-50/30",
				OnClickFunc:            "openUpdateMappingModal('" + mappingEntity.Id.String() + "')",
				AriaLabel:              "update",
				TooltipContent:         "update",
				TooltipBackgroundColor: "neutral-50/10",
			})
			@uiControl.Button(uiControl.ButtonSettings{
				IconLeft:               "ph-trash",
				Shape:                  uiToolset.ShapeCircular,
				Size:                   uiControl.ButtonSizeSm,
				BackgroundColor:        "red-800",
				BackgroundColorHover:   "red-600",
				OnClickFunc:            "openDeleteMappingModal('" + mappingEntity.Id.String() + "', '" + mappingEntity.Path.String() + "')",
				AriaLabel:              "delete",
				TooltipContent:         "delete",
				TooltipBackgroundColor: "red-500",
			})
		</div>
	</div>
}
