[Unit]
Description=Speedia AppManager

[Service]
User=root
WorkingDirectory=/speedia
ExecStart=/speedia/sam serve
Restart=always
RestartSec=1000
TimeoutStartSec=1000
PassEnvironment=VIRTUAL_HOST

[Install]
WantedBy=multi-user.target