package componentStructural

import (
	_ "embed"
	"strconv"

	uiToolset "github.com/goinfinite/ui/src/toolset"
)

//go:embed collapsibleTextState.js
var collapsibleTextAlpineState string

var collapsibleTextAlpineStateOnce = templ.NewOnceHandle(
	templ.WithComponent(uiToolset.MinifierTemplateJs(&collapsibleTextAlpineState)),
)

templ CollapsibleText(textContent, textSize string, maxCharsToDisplay int) {
	@collapsibleTextAlpineStateOnce.Once()
	<!-- CollapsibleText HTML -->
	<div
		class={ "items-center text-justify text-" + textSize }
		x-data="collapsibleText"
		data-text-content={ textContent }
		data-max-chars-to-display={ strconv.Itoa(maxCharsToDisplay) }
	>
		<span x-text="truncatedTextContent"></span>
		<span
			x-show="isTextContentBiggerThanAllowed"
			class="text-infinite-500 hover:text-infinite-200 cursor-pointer"
			@click="toggleTextContentDisplay()"
			x-text="shouldDisplayPartialContent ? 'See more' : 'See less'"
		></span>
	</div>
}
