package componentStructural

templ InfoDialog(message, bgColor string) {
	<div class={ "py-2 px-3 bg-" + bgColor + " rounded-sm" }>
		<label class="text-sm text-white text-justify">{ message }</label>
	</div>
}
