package componentStructural

templ PageTitle(pageName string, pageDescription string, pageIcon string) {
	<!-- Page Title -->
	<div>
		<span class="flex text-3xl">
			<i class={ "ph-duotone " + pageIcon + " text-4xl mr-1 text-speedia-500" }></i>
			<h1>{ pageName }</h1>
		</span>
		<p class="mt-4 text-sm">{ pageDescription }</p>
	</div>
}
