package componentStructural

templ PageTitle(pageName string, pageDescription string, pageIcon string) {
	<!-- PageTitle -->
	<div class="mb-4 flex flex-col gap-2">
		<span class="flex gap-1 text-3xl">
			<i class={ "ph-duotone " + pageIcon + " text-4xl text-infinite-500" }></i>
			<h1>{ pageName }</h1>
		</span>
		<p class="text-sm">{ pageDescription }</p>
	</div>
}
