package componentUtil

templ LoadingOverlay() {
	<!-- Loading Overlay CSS -->
	<style type="text/css">.htmx-request #loading-overlay,.htmx-request#loading-overlay{display:flex}</style>
	<!-- Loading Overlay HTML -->
	<div
		id="loading-overlay"
		class="bg-os-500 absolute z-50 hidden h-full w-full items-center justify-center bg-opacity-60"
	>
		<i class="ph-duotone ph-compass-rose animate-duration-[2s] animate-spin text-5xl"></i>
	</div>
}
