package componentDatabases

import (
	"github.com/goinfinite/os/src/domain/valueObject"
	componentForm "github.com/goinfinite/os/src/presentation/ui/component/form"
	"strings"
)

func transformDbUserPrivilegeIntoComponentValueFormat(
	dbUserPrivilege string,
) string {
	privilegeWithHyphen := strings.ReplaceAll(dbUserPrivilege, " ", "-")
	return strings.ToLower(privilegeWithHyphen)
}

templ DatabaseUserPrivilegesCheckboxInputsSwitchToggles() {
	<!-- DatabaseUserPrivilegesCheckboxInputsSwitchToggles -->
	<div class="bg-os-500 p-5 rounded-md grid grid-cols-2 gap-6">
		for _, databaseUserPrivilege := range valueObject.AvailableDatabasePrivileges {
			@componentForm.CheckboxInputSwitchToggle(
				"privileges", databaseUserPrivilege, "databaseUser.privileges",
				transformDbUserPrivilegeIntoComponentValueFormat(databaseUserPrivilege),
			)
		}
	</div>
}
